nav {
    background-color: #FBF7E3;
    border-radius:  100px;
    font-family: sans-serif;
    display: flex;
    padding: 1em 0;
    text-align: center;
    justify-content: space-evenly;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    color: #612406;
    text-decoration: none;
    background-color: #F3DF85;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: auto 30px;
}

img {
    width:100%
}

#home {
    font-weight: bold;
}